@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body{
    background-color: #001e4d;
}
.app{
    background:  #fff;
    width: 90%;
    max-height: 600px;
    border-radius: 10px;
    margin: 60px auto;
    padding: 30px;

}
.app h1{
    font-weight: 25px;
    border-bottom: 1px solid #001e4d;
    padding-bottom: 30px;
    color: #001e4d;
}
.quiz{
   padding: 20px 0;

} 
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btn{
    color: #222;
    background: #fff;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #222;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;

}
.btn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background-color: #001e4d;
    color: #fff;
    width: 120px;
    font-weight: 700;
    border:  0;
    padding: 10px;
    text-align: center;
    margin: 20px auto 0;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}